body {
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5; - rozszerzona wersja tego kodu poniżej */
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container2 {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  background-color: #fff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 60px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-top: 68px;
  padding-bottom: 68px;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 20px;
}

.bio-occupation {
  margin-bottom: 27px;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.bio-occupation,
.bio-about {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about {
  color: #595959;
}

.projects-title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.projects-link {
  color: #220fdc;
  font-size: 14px;
  line-height: 24px;
}

.projects-link:hover {
  color: #ff6b08;
}

.jobs-title,
.education-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs-time,
.education-time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.accent {
  color: #ff6b08;
}



/* ========= left-side ========= */

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.skills-title {
  font-size: 22px;
  line-height: 1.091;
}

.skills-item {
  font-size: 14px;
  line-height: 1.714;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before {
  content: "\2022";
  margin-right: 8px;
  color: #ff6b08;
  font-size: 18px;
}

.photo {
  width: 370px;
}

.photo,
.contacts,
.skills,
.widget {
  margin-bottom: 60px;
}

.contacts,
.skills,
.widget {
  padding-left: 40px;
}

.contacts-title,
.skills-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.widget-link {
  color: #fff;
  background-color: #ff6b08;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0px 0px 13px 1px rgba(255, 107, 8, 0.4);
}

.widget-link:hover {
  box-shadow: 0px 6px 32px 1px rgba(255, 107, 8, 0.92);
}

.download {
  margin-top: 25px;
  margin-bottom: 25px;
}

#download-item1 {
  margin-top: 100px;
  margin-bottom: 25px;
  float: left;
}

#download-item2 {
  margin-top: 100px;
  margin-bottom: 25px;
  float: right;
}
ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

/* Header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url("../img/showcase.jpg") no-repeat 0 -400px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}
/* newsletter */

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* newsletter2 */

#newsletter2 {
  padding: 0px;
  color: #ffffff;
  background: #35424a;
}

#newsletter2 h1 {
  text-align: center;
  font-size: 50px;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
