* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 10px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
    font-family: 'Lexend Deca', serfi;
    font-size: 14px;
}

h2 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', serif;
    font-size: 35px;
}

img {
    margin-top: 15px;
    width: 10;
    position: relative;
    left: -5px;
}

.sr-only {
    position: absolute;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    width: 300px;
    height: 500px;
    padding: 30px 50px;
    display: grid;
}


.btn {
    background: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    width: 145px;
    height: 40px;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    margin-left: 5px;
    margin-top: 50px;
    padding: 0px 15px;
    position: relative;
    bottom: -15px;
    font-family: 'Lexend Deca', serfi;
    
}

.first-element {
    background: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.first-element .btn {
    color: hsl(31, 77%, 52%);
}

.first-element .btn:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(31, 77%, 52%);
    border: 2px solid hsl(0, 0%, 95%);
}

.second-element {
    background: hsl(184, 100%, 22%);
}

.second-element .btn {
    color: hsl(184, 100%, 22%);
}

.second-element .btn:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(184, 100%, 22%);
    border: 2px solid hsl(0, 0%, 95%);
}

.third-element {
    background:hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

.third-element .btn {
    color: hsl(179, 100%, 13%);
}

.third-element .btn:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(179, 100%, 13%);
    border: 2px solid hsl(0, 0%, 95%);
}

footer { 
    font-size: 11px; 
    text-align: center; 
}

footer a {
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 750px) {
.container {
    flex-direction: column;
}

.first-element {
    border-radius: 5px  5px 0 0;
}

.third-element {
    border-radius: 0 0 5px 5px;
}

}